[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
isort = "*"
autoflake = "*"
pylint = "*"
pre-commit = "*"

[packages]
wandb = "*"
pandas = "*"
numpy = "*"
scipy = "*"
seaborn = "*"
jupyterlab = "*"
pyfarmhash = "*"
sklearn = "*"
xgboost = "*"
torch = {file = "https://download.pytorch.org/whl/cpu/torch-1.9.0-cp39-none-macosx_10_9_x86_64.whl"}
imageio = "*"
nbformat = "*"
tqdm = "*"
yapf = "*"

[requires]
python_version = "3"

[scripts]
beautify = "bash -c \"autoflake -i -r --expand-star-imports --remove-all-unused-imports --remove-duplicate-keys --remove-unused-variables **/*.py; isort **/*.py; black **/*.py\""
lint = "bash -c \"pylint **/*.py\""
